<div class="ui comments">
{{#each comments as | comments |}}
    <div class="comment">
        <a class="avatar" style="padding-right: 5px">
             {{#if comments.postedBy.profilePicture}}
                 <img src="{{comments.postedBy.profilePicture}}">
             {{else}} <i class="user icon"></i>
             {{/if}}
        </a>
        <div class="content">
            {{#if @root.user}}
                    <a class="author" href="/viewProfile/{{@root.user._id}}/{{comments.postedBy.userId}}">
                            {{comments.postedBy.userName}}
                    </a>
            {{else}}
                    <a class="author" href="/viewProfile/{{comments.postedBy.userId}}">
                        {{comments.postedBy.userName}}
                    </a>
            {{/if}}
            <div class="metadata">
                <span class="date">Posted at : {{comments.time}}</span>
            </div>
            <div class="text">
                {{comments.content}}
            </div>
            <!-- <div class="actions">
                <a class="like">Like</a>
            </div> -->
        </div>
    </div>{{/each}}

{{#if @root.user._id}}
    <form class="ui form" action="/allTrails/{{_id}}/{{@root.user._id}}" method="POST" id="addComment{{_id}}">
        <div class="field">
            <div class="ui input focus">
                <textarea rows="4" type="text" placeholder="Please Rate the Walk and Add comment..." maxlength="700" name="comment"></textarea>
            </div>
        </div>
        <div class="field" id="my_rating" name="my_rating">
            <div class="ui right floated red olive rating" data-rating="1"
                       data-tooltip="Please Rate the Walk" data-max-rating="5" id="my_rating">
            </div>
        </div>
        <button class="ui large blue labeled submit icon button" style="background: #cb3232;color: whitesmoke" onClick="rating()" value="Submit">
            <i class="comment alternate icon"></i> Add Comment
        </button>
    </form>
{{/if}}

</div>

<script>
    $('.ui.rating')
            .rating(
              'setting',
                   'onRate',
                    function rating(value){
                        console.log(value);
                        //$('#addComment{{_id}}.ui.form')
                        //.form('set value', 'my_rating', value );
                        let rating = getElementById("my_rating").value;
                        let trailRating = {
                          "rating": rating
                        }
                    }

            )
    ;

</script>