<div class="ui fluid horizontal olive card">
    <div class="image" style="height: 200px; width: 200px;margin-top: 50px">
        <img class="ui centered image" src="{{profileImage}}">
    </div>
    <div class="content">
            <div class="header">
                {{#if @root.guest}}
                    <h1 id="{{_id}}"><a href="/viewPOI/guest/{{_id}}">{{ trailname }}</a></h1>
                {{else}}
                    <h1 id="{{_id}}"><a href="/viewPOI/{{@root.user._id}}/{{_id}}">{{ trailname }}</a></h1>
                            {{> share_button}}
                {{/if}}
            </div>
            <div class="meta">
                <h2 style="color: olive">
                    Trail Type : {{trailtype}}
                </h2>
                {{#if @root.user.email}}
                    <h2 style="color: #cb3232">
                        <a href="/viewProfile/{{@root.user._id}}/{{creator}}">{{creatorName}}</a>
                    </h2>
                {{else}}
                    <h2 style="color: #cb3232">
                        <a href="/viewProfile/{{creator}}">{{creatorName}}</a>
                    </h2>
                {{/if}}
            </div>
            <div class="extra">
                Current Rating:
                <div class="ui red disabled rating" data-rating="3.5" data-max-rating="5"></div>
                <p></p>

            </div>
            <div class="description">
                <div class="ui grid" style="margin-top: 10px">
                    <div class="eight wide column">
                <table class="ui large collapsing inverted olive table">
                    <thead>
                    <tr >
                        <th class="four wide">Details</th>
                        <th class="twelve wide"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="olive">Grade</td>
                        <td>{{grade}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Trail Type</td>
                        <td>{{trailtype}}</td>
                    </tr>
                    <tr>
                        <td class="olive">County</td>
                        <td>{{county}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Trail Length (Km)</td>
                        <td>{{traillength}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Walking Time</td>
                        <td>{{time}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Nearest Town</td>
                        <td>{{nearesttown}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Start Coordinates (lat, long) : </td>
                        <td>{{startcoordinates.latitude}}, {{startcoordinates.longitude}}</td>
                    </tr>
                    </tbody>
                </table>
                    </div>
                    <div class="eight wide column">
                        <h1>Description</h1>
                        <p>{{description}}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="extra content">
        <!-- change to just accordion if on profile view -->
        {{#if @root.currentUser}}
                <!-- if allTrails it drops down -->
                {{#if @root.allTrails}}
                    <div class="ui accordion">
                {{else}}
                <!-- if view profile it can drop down as a nested accordion-->
                    <div class="accordion">
                {{/if}}
        {{else}}
            {{#if @root.guest}}
                <div class="ui accordion">
            {{else}}
                <div class="ui styled fluid accordion">
            {{/if}}
        {{/if}}
            <div class="active title" style="color: olive;font-size: large">
                <i class="dropdown icon"></i>{{comments.length}} comments
            </div>
            <div class="content">
                {{#unless @root.guest}}
                    {{> comments}}
                {{/unless}}
            </div>
        </div>
    </div>
    </div>
</div>


<script>
    $('.ui.dropdown')
            .dropdown()  ;
</script>