{{#each walkways as | walkway | }}

        <div class="ui fluid horizontal card">
        <div class="two wide column">
            <div class="image" style="height: 300px; width: 300px;margin-top: 50px;margin-left: 10px">
                <img class="ui centered image" src="{{profileImage}}">
            </div>
        </div>
        <div class="content">
            <!-- unless here for user views
            <i class="right floated like icon"></i>
            <i class="right floated star icon"></i> -->
            <div class="header"><h1>{{ trailname }}</h1></div>
            <div class="meta">
                <h2 style="color: olive">{{trailtype}}</h2>
                <h2 style="color: #cb3232"><a href="/viewProfile/{{creator}}">{{creatorName}}</a></h2>
            </div>
            <div class="extra">
                Rating:
                <div class="ui yellow rating" data-rating="3"></div>
            </div>
            <div class="description">
                <table class="ui large collapsing inverted olive table">
                    <thead>
                    <tr >
                        <th colspan="3">Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="olive">Grade</td>
                        <td>{{grade}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Trail Type</td>
                        <td>{{trailtype}}</td>
                    </tr>
                    <tr>
                        <td class="olive">County</td>
                        <td>{{county}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Trail Length (Km)</td>
                        <td>{{traillength}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Walking Time</td>
                        <td>{{time}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Nearest Town</td>
                        <td>{{nearesttown}}</td>
                    </tr>
                    <tr>
                        <td class="olive">Start Coordinates (lat, long) : </td>
                        <td>{{startcoordinates.latitude}}, {{startcoordinates.longitude}}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="four wide column" style="font-size: 120%">
                    <article>Description of Trail:<br><br>
                        {{description}}</article>
                </div>
            </div>
        </div>
    </div>

{{/each}}
