<table class="ui stackable basic table">
    <thead>
    <tr style="font-style: italic">
        <th style="text-align: Left"><h2>Profile Picture</h2></th>
        <th colspan="3"><h2>Name</h2></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{#unless user.profilePicture}}
                <img class="ui circular small image" src="/images/default_user.png">
            {{/unless}}
            <img class="ui bordered circular small image" src="{{user.profilePicture}}">
        </td>
        <td><h1>{{user.firstName}} {{user.lastName}}</h1>
        <td>{{#unless guest._id}}

            <!-- if statement here to see if already friends -->
            {{#if areFriends}}
                <div class="ui large buttons">
                    <button class="ui positive button"><i class="check icon"></i>Friends</button>
                    <div class="or"></div>
                    <form class="ui form" action="/viewProfile/removeFriend/{{currentUser._id}}/{{user._id}}" method="POST">
                        <button class="ui large negative button">
                            <i class="user minus icon"></i>
                            Unfriend
                        </button>
                    </form>

                </div>
                <!-- else show a friends Button -->
            {{else}}
                <!-- "" -->
                {{#if requestSent}}
                    <h2>
                        <button class="ui large olive button" style="color: #800643">
                            <i class="large user check icon"></i>
                            Friend Request Sent
                        </button>
                    </h2>
                {{else}}
                <h2>
                    <form class="ui form" action="/addFriend/{{currentUser._id}}/{{user._id}}" method="POST">
                        <button class="ui large inverted olive button" style="color: #800643">
                            <i class="large user plus icon"></i>
                            Add Friend
                        </button>
                    </form>
                </h2>
                {{/if}}
            {{/if}}
        {{/unless}}
        </td>
    </tr>
    </tbody>
    {{> error}}
</table>
<table class="ui basic table">
    <tr>
        <td><h3>Total Number of Walkways : {{ POI_total}} </h3></td>
        <td><h3>Total Number of Images: {{total_images}}</h3></td>
        <td><h3>Friends: {{#unless user.friends.length}}0{{else}}
            {{user.friends.length}}{{/unless}}</h3></td>
    </tr>
</table>

<!-- https://stackoverflow.com/questions/23032833/how-to-toggle-content-in-semantic-ui-buttons -->
<script>
    $('.ui.button.toggle').state(
            {
                text: {
                    active   : 'Friend Request Sent'
                }
            }
    );
</script>