<section class="ui raised segment">
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <img src="images/poimap.png" class="ui centered middle aligned image">
        </div>
        <article class="sixteen wide column">
            <table class="ui celled striped table">
                <thead>
                <tr>
                    <th>Trail Name</th>
                    <th>County</th>
                    <th>Type</th>
                    <th>Length (Kilometres)</th>
                    <th>Time</th>
                    <th>Grade</th>
                </tr>
                </thead>
                <tbody>
                {{#each walkways}}
                    <tr>
                        <td> {{trailname}} </td>
                        <td> {{county}} </td>
                        <td> {{trailtype}} </td>
                        <td> {{traillength}} </td>
                        <td> {{time}} </td>
                        <td> {{grade}} </td>
                {{/each}}

                </tr>
                </tbody>
            </table>
        </article>
    </div>
</section>